<div class="col-md-8 col-md-offset-1">
    <div class="col-md-10 col-md-offset-1 daily-filter">
        <form id="dailyFilter" name="dailyFilter">
            <div class="form-group col-md-8">
                {{input type="date" value=controller.filter.date class="form-control" id="dateFilter" placeholder="Enter date"}}
            </div>
            <button class="btn btn-primary col-md-4" {{action 'filter' controller.filter.date}}>
                Find
            </button>
        </form>
    </div>

    <div class="panel panel-primary col-md-12 col-md-offset-1 per-day">
        <div class="panel-heading">List of spendings per day</div>
        <div class="panel-body">
            <div id="daily">
                <ul>
                    {{#each controller as |spent|}}
                        <li>
                            <span class="label">Date:</span><span class="value">{{spent.date}}</span>
                            <span class="label">Item:</span><span class="value">{{spent.item}}</span>
                            <span class="label">Value:</span><span class="value">{{spent.value}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="total">
                <label>Total:</label>
                <span>{{controller.total}}</span>
            </div>
        </div>
    </div>
</div>